.vs/VRM/FileContentIndex/1e9d19ce-1b39-451d-a419-5eb6f4cc1013.vsidx
.vs/VRM/v17/.suo
obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/VRM.csproj.AssemblyReference.cache
